In [10]:
#read in the credit_cards.csv file
import pandas as pd
data = pd.read_csv('credit_cards.csv')
data

,Card Type Full Name,Issuing Bank,Card Number,Card Holder's Name,CVV2,Issue Date,Expiry Date,Billing Date,Card PIN,Credit Limit
0,Visa,Chase,4431465245886276,Frank Q Ortiz,362,09/2016,09/2034,7,1247,103700
1,Discover,Discover,6224764404044446,Tony E Martinez,35,06/2012,06/2030,23,6190,92900
2,Japan Credit Bureau,JCB,3541789329050940,Ana M Downs,945,03/2017,03/2021,10,8550,71500
3,American Express,American Express,371306399244328,Calvin T House,3868,09/2007,09/2018,26,1777,190500
4,Visa,Chase,4332985341176660,Gilda J Wade,237,12/2012,12/2023,26,5551,179700
...,...,...,...,...,...,...,...,...,...,...
995,Japan Credit Bureau,JCB,3548795949760431,Theresa F King,642,04/2012,04/2021,15,6946,82400
996,Japan Credit Bureau,JCB,3566452282997041,Terence D Mejia,994,08/2016,08/2033,18,2914,138200
997,Japan Credit Bureau,JCB,3539269980463108,Yolanda Moore,150,12/2012,12/2030,14,39,193300
998,Discover,Discover,6011716359815938,Kurtis V Haney,121,09/2010,09/2025,28,2953,157200
999,Master Card,Citibank,5391458271565240,Teresa Castillo,541,10/2013,10/2019,10,3219,150800

In [13]:
#show the ist ten records in the dataset
data.head(10)

,Type,Issuing Bank,Card Number,Clents,CVV2,Issue Date,Expiry Date,Billing Date,Card PIN,Credit Limit
0,Visa,Chase,4431465245886276,Frank Q Ortiz,362,09/2016,09/2034,7,1247,103700
1,Discover,Discover,6224764404044446,Tony E Martinez,35,06/2012,06/2030,23,6190,92900
2,Japan Credit Bureau,JCB,3541789329050940,Ana M Downs,945,03/2017,03/2021,10,8550,71500
3,American Express,American Express,371306399244328,Calvin T House,3868,09/2007,09/2018,26,1777,190500
4,Visa,Chase,4332985341176660,Gilda J Wade,237,12/2012,12/2023,26,5551,179700
5,Master Card,Chase,5405935391199277,Doris Giles,734,02/2010,02/2019,2,744,112000
6,Master Card,USAA,5359097928073131,Alvin M Espinoza,907,02/2011,02/2029,2,5000,80600
7,Master Card,Bank of America,5230327834921460,Christopher X Holcomb,357,01/2014,01/2024,19,4598,11000
8,Discover,Discover,6469129126918968,Liliana Goodman,888,11/2007,11/2012,28,3078,81000
9,Discover,Discover,6011199663449639,Kim M Lynn,762,12/2014,12/2020,2,2695,85800

In [9]:
#show a summary of the columns their types and the non null count of each
data.info

<bound method DataFrame.info of      Card Type Full Name      Issuing Bank       Card Number  \
0                   Visa             Chase  4431465245886276
1               Discover          Discover  6224764404044446
2    Japan Credit Bureau               JCB  3541789329050940
3       American Express  American Express   371306399244328
4                   Visa             Chase  4332985341176660
..                   ...               ...               ...
995  Japan Credit Bureau               JCB  3548795949760431
996  Japan Credit Bureau               JCB  3566452282997041
997  Japan Credit Bureau               JCB  3539269980463108
998             Discover          Discover  6011716359815938
999          Master Card          Citibank  5391458271565240

    Card Holder's Name  CVV2 Issue Date Expiry Date  Billing Date  Card PIN  \
0        Frank Q Ortiz   362    09/2016     09/2034             7      1247
1      Tony E Martinez    35    06/2012     06/2030            23      6190
2          Ana M Downs   945    03/2017     03/2021            10      8550
3       Calvin T House  3868    09/2007     09/2018            26      1777
4         Gilda J Wade   237    12/2012     12/2023            26      5551
..                 ...   ...        ...         ...           ...       ...
995     Theresa F King   642    04/2012     04/2021            15      6946
996    Terence D Mejia   994    08/2016     08/2033            18      2914
997      Yolanda Moore   150    12/2012     12/2030            14        39
998     Kurtis V Haney   121    09/2010     09/2025            28      2953
999    Teresa Castillo   541    10/2013     10/2019            10      3219

     Credit Limit
0          103700
1           92900
2           71500
3          190500
4          179700
..            ...
995         82400
996        138200
997        193300
998        157200
999        150800

[1000 rows x 10 columns]>

In [30]:
#name the card type full name and the card holder name columns
data.columns(3)

TypeError: 'Index' object is not callable

In [12]:
#rename the card type full nmae and the card card holders name columns
#to 'Type and client respectively
data.rename(columns={'Card Type Full Name' : 'Type', 'Card Holder\'s Name': 'Clents'}, inplace=True)
#inplace true permanent false not
data.head(5)

,Type,Issuing Bank,Card Number,Clents,CVV2,Issue Date,Expiry Date,Billing Date,Card PIN,Credit Limit
0,Visa,Chase,4431465245886276,Frank Q Ortiz,362,09/2016,09/2034,7,1247,103700
1,Discover,Discover,6224764404044446,Tony E Martinez,35,06/2012,06/2030,23,6190,92900
2,Japan Credit Bureau,JCB,3541789329050940,Ana M Downs,945,03/2017,03/2021,10,8550,71500
3,American Express,American Express,371306399244328,Calvin T House,3868,09/2007,09/2018,26,1777,190500
4,Visa,Chase,4332985341176660,Gilda J Wade,237,12/2012,12/2023,26,5551,179700

In [28]:
#show card type bank client for all cases where credit limit > 70,000
data[data['Type'] > 70,000]

TypeError: '>' not supported between instances of 'str' and 'int'

In [27]:
#find all clients, billing date card no for clients of chase bank
data[data['BasePay'] > 80000][['EmployeeName', 'JobTitle']]

KeyError: 'billing'

In [38]:
#how many different card issuers are there?
data['Issuing Bank'].value_counts

<bound method IndexOpsMixin.value_counts of 0                 Chase
1              Discover
2                   JCB
3      American Express
4                 Chase
             ...
995                 JCB
996                 JCB
997                 JCB
998            Discover
999            Citibank
Name: Issuing Bank, Length: 1000, dtype: object>

In [34]:
#show all clients card no credit card limit for visa and credit limit >100,000

data.groupby(['Type']).count()

,Issuing Bank,Card Number,Clents,CVV2,Issue Date,Expiry Date,Billing Date,Card PIN,Credit Limit
Type,,,,,,,,,
American Express,151,151,151,151,151,151,151,151,151
Diners Club International,164,164,164,164,164,164,164,164,164
Discover,130,130,130,130,130,130,130,130,130
Japan Credit Bureau,168,168,168,168,168,168,168,168,168
Master Card,198,198,198,198,198,198,198,198,198
Visa,189,189,189,189,189,189,189,189,189

In [54]:
#get all clients issuing bank credit limit of all those thta are mastr card and expiry after 2020

data['Expiry Date'].str[-4:]
after_2020 = data[(data['Type'] == 'Master Card') & (data['Expiry Date'].apply(lambda x: x[3:]) >= '2021')]
after_2020[['Clents', 'Issuing Bank', 'Credit Limit']]

                    Clents     Issuing Bank  Credit Limit
6         Alvin M Espinoza             USAA         80600
7    Christopher X Holcomb  Bank of America         11000
13        Thomas L Stanton      Capital One         51800
15       Robert B Mcintyre            Chase         65900
20        Margery W Austin         Citibank        198800
..                     ...              ...           ...
944    Marcelino S Spencer      Capital One         84800
948         Neal A Everett  Bank of America        119000
955        Aaron X Coleman            Chase        175900
972    Federico X Chambers      Capital One        161200
987       Allen B Stafford            Chase         22900

[120 rows x 3 columns]

In [58]:
data = data.groupby(['Type']).count()['Clents']

KeyError: 'Clients'